<nav class="navbar navbar-expand-lg" style="background-color: var(--pathe-dark);">
    <div class="container">
        <a class="navbar-brand text-white" href="{{ applicationUrl }}/">{{ applicationName ?? 'Movary' }}</a>
        <a href="{{ applicationUrl }}/login" class="btn btn-warning" style="background-color: var(--pathe-yellow); border-color: var(--pathe-yellow); color: var(--pathe-dark);">
            Login
        </a>
    </div>
</nav>
